{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
<div class="page">
  <header>
    <nav class="navbar navbar-expand-lg flex-wrap navbar-dark text-light bg-dark">
      <div class="container d-flex">
        <div class="col-12 col-lg-8 d-flex align-items-center">
          <div class="navbar-brand d-flex align-items-center col-8 col-lg-6 m-0">
            {{ page.header.site_logo }}
            {{ page.header.sitebranding }}
          </div>
        </div>

        <button class="navbar-toggler collapsed order-1 order-lg-0 mt-3 mt-lg-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <form class="d-flex col-9 col-lg-4 order-0 position-relative mt-3 mt-lg-0">
          {{ page.header.search }}
        </form>

        <div class="collapse order-3 navbar-collapse justify-content-md-end flex-wrap col-md-9"
             id="navbarSupportedContent">
          {{ page.navigation.navigation }}
        </div>
      </div>
    </nav>
  </header>

  <main class="main-container">
    <div class="layout">
      <div class="layout__main">
        <div class="bg-dark col-12">
          <div class="container bg-dark">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb m-0 align-items-center">
                <li class="breadcrumb-item">
                  <a href="#">
                    <img class="img-fluid" width="30px" src="/web/themes/custom/custom_bootstrap/home.png" alt="">
                  </a>
                </li>
                <li class="breadcrumb-item"><a href="#">Previous page</a></li>
                <li class="breadcrumb-item active" aria-current="page">Current page</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="mt-auto footer-dark text-light bg-secondary footer">
    <div class="container">
      {{ page.footer.footer }}
      <div
        class="footer__bottom d-flex flex-column-reverse flex-md-row mt-5 border-top justify-content-between align-items-md-center py-3">
        <div class="footer__copy col-5 col-md-3">{{ page.footer.poweredbydrupal }}</div>
        <div class="col-12 col-md-9 d-flex align-items-center justify-content-md-end mb-3 mb-md-0">
          <div class="navbar-brand d-flex align-items-center col-md-5">
            <a href="/" class="site-logo d-block">
              <img src="/web/themes/custom/custom_bootstrap/logo.svg" alt="">
            </a>
            <div>
              <a href="/" class="site-title">Bootcamp</a>
            </div>
          </div>
          <a href="#" class="col-2"><img class="img-fluid w-100" src="/web/themes/custom/custom_bootstrap/i20-logo.png" alt=""></a>
          <a href="#" class="col-1 mx-3"><img class="img-fluid w-100" src="/web/themes/custom/custom_bootstrap/drupaljedi-logo.png" alt=""></a>
        </div>
      </div>
    </div>
  </footer>
</div>
